.p-1{
    border: 10px solid #000;
    padding: 20px;
    margin: 40px;

    height: 180px;
    width: 200px;
    box-shadow: 20px 20px 5px rgba(139, 105, 105, 0.5);
}
.hader{
    height: 500px;
    background-image: url('pic/benjamin-chambon-6lV1c2HiXC8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;

}