.btn{

    border-radius: 5px;
    padding: 10px 20px;
    background-color: rgb(70, 130, 180);
    color: white;
    border: none;
}
.img{
    height: 300px;

}
.text{
    text-align: center;
    display: inline-block;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px;
    padding: 5px;
    color: cadetblue;
}
h1{
    text-align: center;
    font-size: bold;
    font-family: 'Courier New', Courier, monospace;
    color: darkgreen;
    font-style: italic;
}